# Eclipse
.classpath
.project
.settings/

# Database Connect Properties
*jdbc.properties
*mail.properties
*security-context.xml
#h2 db
*test.mv.db
*test.trace.db

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
