# Eclipse
.classpath
.project
.settings/

# Database Connect Properties
*jdbc.properties
*mail.properties

#h2 db
*test.mv.db
*test.trace.db

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

#Security
*security-context.xml

# Maven
log/
target/
bin/
